<h2>My Heroes</h2>

<div *ngIf="isLoading" class="loading-spinner" ></div>

<div *ngIf="!isLoading">
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes" *ngIf="!isLoading">
  <li *ngFor="let hero of heroes">
    <!-- <a routerLink="/hero/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a> -->
    <list-item [hero]=hero (selected)="select($event, hero)"></list-item>
  </li>
</ul>

<!-- <div *ngIf="selected != null" class="selected_hero">
  <h3>{{selected.name}} is my Hero! </h3>
  <a routerLink="/hero/{{selected.id}}">View Details</a>
</div> -->

<app-hero-log *ngIf="!isLoading" [isDashboard]="isDashboard" [hero]="selected" [status]="status"></app-hero-log>